
@model IEnumerable<Guaflix.Models.Pelicula>

@{
    ViewBag.Title = "buscar";
}

<h2>buscar</h2>
@using (Html.BeginForm("buscar", "Catalogo", FormMethod.Post))
{
    <input type="submit" name="tipobuscar" value="Nombre" />
    <input type="submit" name="tipobuscar" value="Año" />
        <input type="submit" name="tipobuscar" value="Genero" />
        <h4>Primer Parametro</h4>
        <p>@Html.TextBox("filter")</p>
        <h4>Segundo Parametro</h4>
        <p>@Html.TextBox("filter2")</p>

}
<p>



</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
        </tr>
    }

</table>
