@model Guaflix.Models.Usuario

@{
    ViewBag.Title = "LogIn";
}
<link rel="stylesheet" type="text/css" href="CSS.css">
<style type="text/css">
    body {
        color: white;
    }

    .form {
        background-color: rgb(84,183,207);
        opacity: 0.8; /* Opacidad 60% */
        height: 150px;
        border-radius: 20px;
    }
</style> 
<h2>Inicio de Sesión</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <body style="background-image:url(https://static.noticiasaominuto.com/stockimages/1920/naom_578175e4d693a.jpg?1504197495); background-repeat: no-repeat; background-attachment: fixed">
        <div class="form-horizontal">
            <h4>Usuario</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form">
                <div class="form-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ingresar" class="btn btn-default" />
                        @TempData["Mensaje"]
                        <p>@Html.ActionLink("Registrar", "Create")</p>
                    </div>
                </div>
            </div>
        </body>
        }



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
